body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 1.5rem;
}

.hero-section {
  background-image: url("/image/Rectangle 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 40rem;
  border-radius: 25px;
  margin-top: 2rem;
}
